/numeros_impares/nbproject/private/
/numeros_impares/build/
/de_cem_zero/nbproject/private/
/media/nbproject/private/
/isso_e_teste/nbproject/private/
/isso_e_teste/build/
/some_um_a_mil/nbproject/private/
/some_um_a_mil/build/
/multiplos_tres/nbproject/private/
/multiplos_tres/build/
/multiplo_sete/nbproject/private/
/multiplo_sete/build/