/numeros_impares/nbproject/private/
/numeros_impares/build/
/de_cem_zero/nbproject/private/
/media/nbproject/private/
/isso_e_teste/nbproject/private/
/isso_e_teste/build/
/some_um_a_mil/nbproject/private/
/some_um_a_mil/build/
/multiplos_tres/nbproject/private/
/multiplos_tres/build/
/multiplo_sete/nbproject/private/
/multiplo_sete/build/
/JavaApplication2/nbproject/private/
/teste/nbproject/private/
/teste/build/
/teste2/nbproject/private/
/Teste2/nbproject/private/
/Teste2/build/
/exer2_joption/nbproject/private/
/exe1/nbproject/private/
/exe1/build/
/exer2_joption/build/
/exer3/nbproject/private/
/exer3/build/